/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #18191d;
$secondary: #666;
$ternary: #f3f3f3;
$border: #eaeaea;
$gray: #f2f3f7;
$accent: #0d1b2a;
$brand-primary: #0d1b2a;
$brand-100: #1b263b;
$brand-200: #415a77;
$brand-300: #778da9;
$brand-400: #a5c1d8;
$brand-500: #e0e1dd;
$brand-600: #325FDA;
$brand-700: #D68531;
$brand-800: #DC9E32;

//Base Color: #1b263b - Deep Midnight Blue
//Complementary Color: #3b261b - Deep Earthy Brown
//Analogous Color 1: #1b3b3a - Dark Teal
//Analogous Color 2: #1b1c3b - Dark Indigo
//Triadic Color 1: #3b1b26 - Dark Burgundy
//Triadic Color 2: #263b1b - Deep Olive Green
//Accent Color: #7591b4 - Soft Sky Blue
$base-color: #1b263b;
$complementary-color: #3b261b;
$analogous-color-1: #1b3b3a;
$analogous-color-2: #1b1c3b;
$triadic-color-1: #3b1b26;
$triadic-color-2: #263b1b;
$accent-color: #7591b4;
