/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #18191d;
$secondary: #666;
$ternary: #f3f3f3;
$border: #eaeaea;
$gray: #f2f3f7;
$accent: #0d1b2a;
$brand-primary: #0d1b2a;
$brand-100: #1b263b;
$brand-200: #415a77;
$brand-300: #778da9;
$brand-400: #a5c1d8;
$brand-500: #e0e1dd;
$brand-600: #325FDA;
